.FollowButton {
    border-radius: 12px;
    padding: 0.5em 1em 0.5em 1em;
    border: none;
    color: #ffff;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(30, 112, 189) 10%, rgb(124, 212, 235) 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.FollowButton:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    bottom: .25rem;
    cursor: pointer;
}